/* ALL PAGES */
body {
    background-color: #283128;
    color: #E9F1F1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a, a:active, :visited{
    color: #E9F1F1;
}


/* HOME PAGE */
#home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#main-menu{
    min-width: 20em;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 5px;
}

#admin-headline{
    color: #ff0000;
    font-size: 3em;
}